{% extends "base.html" %} {% block title %}About Our Team{% endblock %} {% block
content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
    <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Our team
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Our team members consistently demonstrate exceptional dedication and hard work, ensuring that every task is completed with precision and efficiency. Their collaborative spirit and relentless drive are key to achieving our collective goals and success.
      </p>
    </div>
    <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3">
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img
          class="mx-auto mb-4 w-36 h-36 rounded-full"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl0ghbhMBHogguR8ZTzQQnlNulaIxXXJj5Lg&s"
          alt="Jese Avatar"
        />
        <h3
          class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Khadija Iftikhar</a>
        </h3>
        <p>SU92-BSCSM-S23-073</p>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img
          class="mx-auto mb-4 w-36 h-36 rounded-full"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa5XKqgG9pWIm6Iy3GZfQeOTxDzLrMnfQBQQ&s"
          alt="Jese Avatar"
        />
        <h3
          class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Maryam Farman</a>
        </h3>
        <p>SU92-BSCSM-S23-143</p>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img
          class="mx-auto mb-4 w-36 h-36 rounded-full"
          src="https://i.pinimg.com/474x/59/83/f3/5983f3a695635b5fc76afe7a12b6fbad.jpg"
          alt="Jese Avatar"
        />
        <h3
          class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Nabeel</a>
        </h3>
        <p>SU92-BSCSM-F22-399</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
